.App {
  font-family: sans-serif;
  text-align: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
}

.panels {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}
